/*
Project Name: Column Layout
Author: Chris Castiglione @ onemonthhtml.com
Developed @ One Month in NYC
*/

/*Page table-layout
Author: Jae Nwawe
Developed in One Month NYC;*/



/*----------------------------------------------------------------------------- 
=01 BASE STYLES 
-----------------------------------------------------------------------------*/

/* Box Model Hack */

* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border- box; /* IE */
}

/* Clear Class */
.clear {
	clear: both;
}



.blue	{
	color:blue;
}

.red {
	color:red;
}
/*img {
	float:left;
	}
replaced with alignleft and alignright*/
/*----------------------------------------------------------------------------- 
=02 LAYOUT 
-----------------------------------------------------------------------------*/





#container {
	width: 1000px;
	margin: 0 auto 0 auto;
	/*automatic on left and right.  0 on top and bottom*/
}

#header {
	background: Silver;
	padding: 50px;

}

#main {
	background: SkyBlue;
	padding: 50px;
	width: 600px;
	float:left;
}

#sidebar {
		background: Pink;
		width: 300px; /*make two elements work*/
		float: left;
/*		padding: 50px; I didn't hear him say to remove padding but it is gone on this demonstration*/ 

	}

#footer {
	background: PeachPuff;
		padding: 50px;
		width: 1000px;
	}

.alignleft {
	float:left;
	margin:0 15px 15px 0;
}

.alignright {
	float:right;
	margin: 0 0 15px 15px;
}
